.introContentContainer {
    display: block;
    width: 40em;
    height: 12em;
    background-color: white;
    margin: 0 auto;
    border: 0;
    position: relative;
    top: 12em;
    .introTitle {
        text-align: center;
        margin-top: 1em;
        position: relative;
        top: 10%;
    }
    .introSearch {
        width: 33em;
        height: 2.5em;
        font-size: 0.85em;
        border: lightgrey solid 1px;
        padding-left: 2em;
        margin: 2em 6em 0em 6em;
    }
    .introSubmit {
        cursor: pointer;
        width: 13em;
        height: 3em;
        border: 0;
        font-weight: bold;
        font-size: 0.75em;
        margin: 6em 20.5em;
        transition: background 0.5s linear;
    }
    .introSearch:hover {
        border: darkgrey solid 1px;
    }
    .introSubmit:hover {
        border: darkgrey solid 1px;
        background-color: lightblue;
    }
    .introSearch:focus,
    .introSubmit:focus {
        border: #1f94f4 solid 1px;
    }
}

.imageArea {
    display: none;
}
