<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <!-- Link to styles, bootstrap, and google fonts. -->
    <link rel="stylesheet" type="text/css" href="public/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script:700,400' rel='stylesheet' type='text/css'>
    <!-- Script links to angular and app.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <a name="top"></a>
    <!-- Intro container that will display an input and submit button for the user. -->
    <form name="introForm" novalidate class="introContentContainer">
        <h1 class="introTitle">Flickr Image Viewer</h1>
        <input class="introSearch" ng-model="introSearchTerm" name="introInput" type="text" placeholder="Search Flickr Viewer" required></input>
        <br />
        <button class="introSubmit" ng-click="introSubmit(introSearchTerm)" type="button">Submit Search</button>
    </form>
    <span ng-hide="searchingMessage" class="querieMessage">Searching for Flickr photos tagged with '{{currentSearchTerm}}'. </span>
    <span class="photoCountMessage" ng-hide="introSearchSubmit">We Found {{searchResults.length}} results for "{{currentSearchTerm}}"</span>
    <span class="zeroImages" ng-hide="zeroImages">No images found for "{{currentSearchTerm}}"</span>
    <!-- imageArea is where all the images will be appended to. -->
    <div ng-hide="introSearchSubmit" class="imageArea">
        <img ng-repeat="piece in searchResults" ng-src="https://farm{{piece.farm}}.staticflickr.com/{{piece.server}}/{{piece.id}}_{{piece.secret}}_n.jpg">
    </div>
    <footer ng-style="initialBottomBar" ng-hide="introSearchSubmit">
        <a href="#top">Top of Page</a>
    </footer>
</body>

</html>
